body{
    font-family:新細明體;
}
.row{
    width:90%;
    display:flex;
}
.col-2{
    width:45%;
    margin:2.5%;
}
.row-2{
    width:45%;
    display:flex;
}
.col-4{
    width:20%;
    display:float;
}
.clearfix {
  overflow: auto;
  zoom: 1;
}
nav{
    display:inline-block;
    width:100%;
    text-align:right;
}
article.col-2 p{
    line-height:1.5em;
    margin:2em auto;
}
article p a:link, aside section a:link{
    color:rgb(111,190,64);
}
article p a:visited, aside section a:visited{
    color:rgb(111,154,178);
}
article p a:hover, aside section a:hover{
    color:rgb(0,136,43);
}
aside section a img:hover{
    opacity:0.5;
}
em{
    color:rgb(84,135,163);
    font-size:2em;
    font-weight:bold;
}
.mark{
    float:left;
    margin:1em auto;    
}
.text-link{
    text-align:right;
}
footer img{
    float:left;
    margin:1.5em auto;
}
#more-info{
    text-align:right;
    text-decoration:none;
}
.fa fa-arrow-up{
    width:100%;
    text-align:right;
}
