body{
    font-family:新細明體;
}
.row{
    display:flex;
    margin:0 20px;
}
.row-2{
    width:50%;
    margin: 10px;
}
.col-2{
    width:50%;
    padding:0 2%;
    display:float;
}
.col-4{
    float:left;
    padding:0 5px;
}
nav{
    text-align:right;
}
article.col-2 p{
    line-height:1.5em;
    margin:2em auto;
}
a{
    color:blue;
}
a:visited{
    color:red;
}
a:hover{
    color:green;
}
aside section a img:hover{
    opacity:0.5;
}
.mark{
    float:left;
}
em{
    color:rgb(84,135,163);
    font-size:2em;
    font-weight:bold;
}
footer{
    display:flex;
}
footer img{
    float:left;
    margin:1.5em auto;
}
#address{
    float:left;
    width:50%;
}
#more-info{
    float:right;
    width:50%;
}
.fa fa-arrow-up{
    text-align:right;
}
