body{
    background: -webkit-linear-gradient(left,#ffe2fe,#e0ffdd);
    background: -o-linear-gradient(right,#ffe2fe,#e0ffdd);
    background: -moz-linear-gradient(right,#ffe2fe,#e0ffdd);
    background: linear-gradient(to right,#ffe2fe,#e0ffdd);
}
form{
    text-align:center;
}
div{
    width:100%;
    height:100%;
    position:absolute;
    margin:20% auto;
}
input, select{
    width:30%;
    height:2.4em;
    margin:0em auto 1em;
}
input:valid, select:valid{
    background-color:#9de2d1;
}
#submit{
    background-color:#32906e;
    color:white;
    width:30%;
    height:2.4em;  
}
